li {
  list-style: none;
}
body {
  font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif　, "Courier New";
}

a {
  text-decoration: none
}

.header {
  color: #999966;
}

.header a {
  color: #999966;
}

.header__logo {
  padding: 50px 0 0 220px;
  font-size: 100px;
}

.header__listItemWrapper {
  display: inline-block;
  width: 105px;
}

.header__list {
  margin-top: -10px;
  text-align: right;
  padding-right: 220px;
}

.header__listItem {
  display: inline;
}

.header__listItem:hover {
  letter-spacing: 3px;
  color: #999966;
}

.main {
  margin-top: 30px;
  height:500px;
  background-image: url(1034a.JPG);
  background-size: cover;
}

.profile {
  padding: 15px 250px 0 250px;
  color: #46372d;
}

.profile img {
  float: left;
  margin-right: 25px;
  margin-top: 50px;
}

h1 {
  border-bottom: solid 2px #46372d;
  margin-top: 50px;
  font-family: "Courier New";
  font-weight: normal;
}

.profile h3 {
  margin-top: 80px;
  font-family: "Courier New";
  font-weight: normal;
}

.profile h4 {
  font-weight: normal;
}

.profile p {
  font-size:15px;
}


.contact  {
  padding: 15px 250px 0 250px;
  color: #46372d;
}

.contact input, textarea {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid ;
}

.bim {
  font-size: 18px;
  background-color: #fff;
  color: #46372d;
}

.contact p {
  margin-bottom: 10px;
}

.contact h1{
  margin-bottom: 1px;
}

.hobby {
  padding: 15px 250px 0 250px;
  color: #46372d;
}

.hobby h1{
  border-bottom: none;
}

.icon{
  text-align: center;

}

.icon img {
  margin: 75px 15px 0px 15px;
}

.curry {
  padding: 15px 250px 0 250px;
  color: #46372d;
}

.curry img {
  float: right;
  margin-top: 15px;
}


.gekko {
  padding: 15px 250px 0 250px;
  color: #46372d;
}

.gekko img {
 float: right;
 margin-top: 50px;

}

.made {
  padding: 15px 250px 0 250px;
  color: #46372d;
}

.made img {
  margin-top: 50px;
  float: right;
}
